<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="javascript" href="static/external/jquery.js">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Log Data</h1>
    <table  >
        <thead><th width="20%">Type</th><th>Event</th></thead>
        <tbody id="root" class="log"></tbody>
        <tfoot width="100%"><th></th><th></th></tfoot>
    </table>
    <script src="static/index.js"></script>
    <script src="static/external/jquery-3.6.0.js"></script>

</body>
</html>